<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">Reto Promart</a>
  <div class="navbar-expand mr-auto">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/#">Inicio</a>
      <a class="nav-item nav-link" href="/#/customer-creation">Crear clientes</a>
      <a class="nav-item nav-link" href="/#/customer-list">Lista de clientes</a>
      <a class="nav-item nav-link" href="/#/customer-statistics">Estadisticas de clientes</a>
    </div>
  </div>
  <div class="navbar-expand ml-auto navbar-nav">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="https://github.com/rcronald" target="_blank">
        <i class="fa fa-github"></i>
      </a>
      <a class="nav-item nav-link" href="https://twitter.com/tiburon_n" target="_blank">
        <i class="fa fa-twitter"></i>
      </a>
    </div>
  </div>
</nav>